@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:wght@300;400;600&display=swap');
/* font-family: 'Fugaz One', cursive; */
/* font-family: 'Inter', sans-serif; */

/* variables */
:root {
    --bg: rgb(42, 43, 46);
    --bg2: rgb(52, 53, 56);
    --fg: rgb(245, 240, 246);
    --ac: rgb(225, 116, 81);

    --heading: 48px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    padding: 15px;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: var(--heading);
    font-family: 'Fugaz One', cursive;
    color: var(--ac);
}

.profile-button-container {
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid var(--ac);
    cursor: pointer;
}

.profile-button-container img {
    width: 48px;
}

/* label */
h2 {
    margin-bottom: 35px;
}

/* sign in form */
/* details input */
h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

input {
    width: 330px;
    height: 60px;
    background-color: var(--bg2);
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: var(--fg);
    padding-left: 15px;
}

/* forgot password */
.forgot-password-div {
    text-align: right;
    & h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* sign in button */
.button {
    text-align: center;
    background-color: var(--ac);
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    color: var(--bg);
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    cursor: pointer;

    & h2 {
        margin: 0;
    }
}

/* dont have account */
.dont-have-account-div {
    text-align: center;

    & span {
        color: var(--ac);
        cursor: pointer;
    }

}

/* bottom nav */
.bottom-nav-container {
    background-color: var(--bg2);
    width: 100%;
    height: 70px;
    border-radius: 12px;
    display: flex;
    margin-top: 68%;
}

.bottom-nav-container section {
    height: 70px;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.bottom-nav-container img {
    width: 48px;
    height: 48px;
    transform: translateY(+25%);
    object-fit: cover;
}

.bottom-nav-container #active {
    background-color: var(--ac);
}