/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:wght@300;400;600&display=swap');

/* Root variables for color and heading font size */
:root {
    --bg: rgb(42, 43, 46);   /* Background color */
    --bg2: rgb(52, 53, 56);  /* Secondary background color */
    --fg: rgb(245, 240, 246);/* Foreground (text) color */
    --ac: rgb(225, 116, 81); /* Accent color */
    --heading: 48px;         /* Heading font size */
}

/* General styling for HTML */
html {
    /* Centering the page vertically and horizontally */
    height: 844px;
    width: 390px;
    background-color: #151617;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* General styling for the body */
body {
    background-color: var(--bg);
    color: var(--fg);
    padding: 15px;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
    height: 808px;
    width: 344px;
    margin: auto;
    border-radius: 15px;
}

/* Styling for the header section */
header {
    display: flex;
    justify-content: space-between;
}

/* Styling for the main heading */
h1 {
    cursor: pointer;
    margin: 0;
    font-size: var(--heading);
    font-family: 'Fugaz One', cursive;
    color: var(--ac);
}

/* Styling for the profile button container */
.profile-button-container {
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: auto;
    cursor: pointer;
    margin-bottom: auto;
}

/* Styling for the profile button image */
.profile-button-container img {
    width: 48px;
}

/* Styling for the search recipes container */
.search-recipes-container {
    margin-top: 20px;
    background-color: var(--bg2);
    border-radius: 12px;
    display: flex;
}

/* Styling for search input, icon, and placeholder */
.search-recipes-container img {
    margin-right: 15px;
}

.search-recipes-container input {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
    border-radius: 12px;
    background: none;
    border: none;
    outline: none;
    color: var(--fg);
}

.search-recipes-container input::placeholder {
    color: var(--fg);
}

/* Styling for suggestions container */
.suggestions-container {
    margin-top: 20px;

    /* Styling for suggestions heading */
    h2 {
        margin: 15px 0;
    }

    /* Styling for suggestion images */
    img {
        height: 105px;
        width: 105px;
        border-radius: 15px;
    }

    /* Styling for suggestion cards container */
    .suggestion-cards-container {
        display: flex;
        justify-content: space-between;

        /* Styling for suggestion card titles */
        h3 {
            margin: 5px 0;
        }

        /* Styling for individual suggestion container */
        .suggestion-container {
            cursor: pointer;
        }
    }
}

/* Styling for recipe cards container */
.recipe-cards-container {
    height: 260px;
    margin-bottom: 5px;
    overflow-y: scroll;
}

/* Removing default scrollbar style for recipe cards container */
.recipe-cards-container::-webkit-scrollbar {
    display: none;
}

/* Styling for individual recipe cards */
.recipe-card {
    display: flex;
    margin-bottom: 5px;
}

/* Styling for recipe card images */
.recipe-card img {
    height: 96px;
    width: 96px;
    object-fit: cover;
    border-radius: 12px;
}

/* Styling for recipe card titles */
.recipe-card h3 {
    margin: 0;
}

/* Styling for right-side details of recipe cards */
.recipe-card .right-side {
    width: 100%;
    justify-content: space-around;
    padding: 0px 0px 0px 15px;
}

/* Additional styling for recipe card titles in right-side details */
.recipe-card .right-side h3 {
    margin-top: 15px;
    margin-bottom: auto;
}

/* Styling for the top section of recipe cards */
.recipe-card .top {
    display: flex;
    justify-content: space-between;
}

/* Styling for recipe card rating section */
.recipe-card .rating {
    background-color: var(--bg2);
    padding: 10px 20px;
    border-radius: 10px;
}

/* Styling for bottom section of recipe cards */
.recipe-card .bottom h3 {
    font-weight: 400;
}

/* Styling for the all recipes header */
.all-recipes-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Styling for the results container */
.results-container {
    height: 325px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    /* Styling for the scrollbar in results container */
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Removing default scrollbar style for results container */
.results-container::-webkit-scrollbar {
    display: none;
}

/* Styling for individual result container */
.result-container {
    background-color: var(--bg2);
    height: 237px;
    width: 340px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;

    /* Styling for recipe card images in result container */
    .recipe-image {
        height: 96px;
        width: 96px;
        object-fit: cover;
        border-radius: 12px;
    }

    /* Styling for details section in result container */
    .details {
        height: 96px;
        white-space: nowrap;
        display: flex;
    }

    /* Styling for title and area in result container */
    h3, p {
        margin: 15px auto 5px 12px;
        width: 260px;
        overflow: hidden;
    }

    /* Styling for the right section in result container */
    .right {
        width: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Styling for the heart icon in result container */
    .heart {
        height: 32px;
        width: 32px;
    }
}

/* Styling for the bottom navigation container */
.bottom-nav-container {
    background-color: var(--bg2);
    width: 100%;
    height: 70px;
    border-radius: 12px;
    display: flex;
}

/* Styling for individual sections in the bottom navigation container */
.bottom-nav-container section {
    height: 70px;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

/* Styling for icons in the bottom navigation container */
.bottom-nav-container img {
    width: 48px;
    height: 48px;
    transform: translateY(+25%);
    object-fit: cover;
}

/* Styling for the active section in the bottom navigation container */
.bottom-nav-container #active {
    background-color: var(--ac);
}
