@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:wght@300;400;600&display=swap');
/* font-family: 'Fugaz One', cursive; */
/* font-family: 'Inter', sans-serif; */

/* variables */
:root {
    --bg: rgb(42, 43, 46);
    --bg2: rgb(52, 53, 56);
    --fg: rgb(245, 240, 246);
    --ac: rgb(225, 116, 81);

    --heading: 48px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    padding: 15px;
    font-family: 'Inter', sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: var(--heading);
    font-family: 'Fugaz One', cursive;
    color: var(--ac);
}

.profile-button-container {
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-button-container img {
    width: 48px;
}

/* search recipes */
.search-recipes-container {
    margin-top: 20px;
    background-color: var(--bg2);
    border-radius: 12px;
}

.search-recipes-container input {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
    border-radius: 12px;
    background: none;
    border: none;
    outline:  none;
    color: var(--fg);
}

.search-recipes-container input::placeholder {
    color: var(--fg);
}

/* suggestions */
.suggestions-container {
    margin-top: 20px
}

.suggestion-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suggestion-card {
    /* background-color: var(--bg2); */
    width: 45%;
    overflow: hidden;
}

.suggestion-card img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.suggestion-card h3 {
    margin-top: 5px;
}