@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:wght@300;400;600&display=swap');
/* font-family: 'Fugaz One', cursive; */
/* font-family: 'Inter', sans-serif; */

/* variables */
:root {
    --bg: rgb(42, 43, 46);
    --bg2: rgb(52, 53, 56);
    --fg: rgb(245, 240, 246);
    --ac: rgb(225, 116, 81);

    --heading: 48px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    padding: 15px;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: var(--heading);
    font-family: 'Fugaz One', cursive;
    color: var(--ac);
}

.profile-button-container {
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: auto;
    cursor: pointer;
    margin-bottom: auto;
}

.profile-button-container img {
    width: 48px;
}

/* search recipes */
.search-recipes-container {
    margin-top: 20px;
    background-color: var(--bg2);
    border-radius: 12px;
    display: flex;

    & img {
        margin-right: 15px;
    }

    & input {
        width: 100%;
        box-sizing: border-box;
        font-size: 20px;
        padding: 15px;
        border-radius: 12px;
        background: none;
        border: none;
        outline:  none;
        color: var(--fg);
    }

    & input::placeholder {
        color: var(--fg)
    }
}

/* suggestions */
.suggestions-container {
    margin-top: 20px
}

.suggestion-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suggestion-card {
    /* background-color: var(--bg2); */
    width: 45%;
    overflow: hidden;
}

.suggestion-card img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.suggestion-card h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

/* all recipes */
.recipe-cards-container {
    height: 260px;
    margin-bottom: 5px;
    overflow-y: scroll;
}

.recipe-cards-container::-webkit-scrollbar {
    display: none;
}

.recipe-card {
    display: flex;
    margin-bottom: 5px;
}

.recipe-card img {
    height: 96px;
    width: 96px;
    object-fit: cover;
    border-radius: 12px;
}

.recipe-card h3 {
    margin: 0;
}

.recipe-card .right-side {
    width: 100%;
    justify-content: space-around;
    padding: 15px 0px 0px 15px;
}

.recipe-card .top {
    display: flex;
    justify-content: space-between;
}

.recipe-card .rating {
    background-color: var(--bg2);
    padding: 10px 20px;
    border-radius: 10px;
}

.recipe-card .bottom h3 {
    font-weight: 400;
}

/* results container */
.results-container {
    height: 62vh;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 12px;
    
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: .5fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    
    justify-content: space-between;
    overflow-y: scroll;
}

.results-container::-webkit-scrollbar {
  display: none;
}

.result-container {
    background-color: var(--bg2);
    height: 237px;
    width: 167px;
    border-radius: 12px;
    cursor: pointer;

    & img {
        height: 167px;
        width: 167px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
    }

    & h3 {
        margin: 0;
        margin-left: 12px;
        margin-bottom: 5px;
    }

    & p {
        margin: 0;
        margin-left: 12px;
    }

}

/* bottom nav */
.bottom-nav-container {
    background-color: var(--bg2);
    width: 100%;
    height: 70px;
    border-radius: 12px;
    display: flex;
}

.bottom-nav-container section {
    height: 70px;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.bottom-nav-container img {
    width: 48px;
    height: 48px;
    transform: translateY(+25%);
    object-fit: cover;
}

.bottom-nav-container #active {
    background-color: var(--ac);
}
